
$header-color: hsl(0, 0%, 100%);
$header-primary-bg-color: hsl(0, 0%, 50%);

$button-color: hsl(0, 0%, 100%);
$button-primary-bg-color: hsl(0, 0%, 20%);
$button-active-bg-color: hsl(0, 0%, 80%);

$button-icon-color: hsl(208, 84%, 41%);
$button-icon-color-hover: hsl(208, 89%, 21%);